body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

h2, p, .readme-wrapper {
    text-align: center;

}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
    color: red;
}

span {
    color: yellow;
    font-weight: bold;
}

.boxes {
    margin: 2em;
    padding: auto;
    border: 4px solid rgb(77, 27, 4);
    border-radius: 25px;
    width: 30em;
}